#leaderboard

  %h1 Leaderboard

  #top_three
    - @top_three.each_with_index do |(css_class, user), index|
      - if user
        %div{:class => "user #{ css_class }"}
          = render :partial => 'top_three',
            :locals => { :rank => index + 1, :user => user }

    .clear

  #generic
    - @users.each_with_index do |user, i|
      .row
        .rank= "##{i + 4}"
        .user
          = gravatar_image user, 45
          .name
            = link_to user.name, user_path(user)
            .detail= ranking_detail user

  #about_leaderboard

    This leaderboard is sorted by highest number of correct submissions and
    earliest creation date of the last correct submission