#leaderboard

  %h1 Leaderboard

  #top_three
    - @top_three.each_with_index do |(css_class, user), index|
      - if user
        %div{:class => "user #{ css_class }"}
          = render :partial => 'top_three',
            :locals => { :rank => index + 1, :user => user }

    .clear

  #generic
    - @users.each_with_index do |user|
      .row
        .rank= "##{user.rank}"
        .user
          = gravatar_image user, 45
          .name
            = link_to user.name, user_path(user.nickname)
            .detail= ranking_detail user
  
  
    - if !@local_users.nil?
      %br
      %br
      #generic
      - @local_users.each_with_index do |user|
        .row
          .rank= "##{user.rank}"
          .user
            = gravatar_image user, 45
            .name
              = link_to user.name, user_path(user.nickname)
              .detail= ranking_detail user

  #about_leaderboard

    This leaderboard is sorted by highest number of correct submissions and
    earliest creation date of the last correct submission
