#puzzle

  %h1= link_to @puzzle.name, puzzle_path(@puzzle)

  %h2
    You got it
    %b= @submission.correct ? "Correct" : "Wrong"
  
  - if @submission.correct
    = render :partial => "source_url"
    
  #action
    - if @submission.correct
      %button.retro{:'data-url' => puzzle_comments_path(@puzzle)}
        = image_tag "icons/comment_small.png"
        %span View Comments
    - else
      %button.retro{:'data-url' => new_puzzle_submission_path(@puzzle)}
        = image_tag "icons/upload_small.png"
        %span Try again
        
