= form_for @user, :url => user_path(@user.nickname), :html => {:class => "bp"} do |f|
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :email
    %br
    = f.text_field :email
  - if false # Temporarily disable this feature
    %p
      = f.check_box :notify_comment_made
      = f.label :notify_comment_made,
        "Notify me every time a comment is made on puzzles I've solved"
  %p.controls
    = f.submit "Save"
