- title "#{@user.nickname}'s Profile"

#profile
  %h1
    = gravatar_image @user, 48
    = link_to @user.nickname, github_url(@user)
    - unless @user.real_name.blank?
      %span#real_name (#{@user.real_name})
  
= render :partial => "form"
