.wrap
  #about
    %p
      PuzzleNode is a site for coders who enjoy to work on challenging problems,
      and is inspired by similar efforts such as
      = link_to "Project Euler", "http://projecteuler.net/"
      and the
      = link_to "Internet Problem Solving Contest", "http://ipsc.ksp.sk/"
      \. It also serves as an entrance exam
      of sorts for folks looking to join
      = link_to "Mendicant University.", "http://mendicantuniversity.org"

    %p
      This project is developed, maintained, and supported by Mendicant
      University students and staff. If you have questions, think you've found a
      bug, or run into issues with our puzzles, please send an email to
      puzzlenode@gmail.com. Alternatively, you can look for seacreature,
      tehviking, or jordanbyron in the #mendicant channel on Freenode.
      Finally, if you post your (non-spoiler) comments on twitter using the
      hashtag #puzzlenode, it will reach us.

    %p
      Happy hacking!
      = link_to_function "Return to top", "PuzzleNode.about()", :class => "close"

  .teaser
    = link_to_function "PuzzleNode is a site for coders who enjoy to work on challenging problems ...",
      "PuzzleNode.about()"

  .bottom
    = link_to "http://mendicantuniversity.org" do
      #mendicant-logo

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15397397-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();