%ul
  %li= link_to "Puzzles", puzzles_path
  %li.node
  %li= link_to "Leaderboard", leaderboard_path
  %li.node
  %li= link_to "Announcements", announcements_path
  %li.node
  %li= link_to_function "About", "PuzzleNode.about()"
  = render :partial => "shared/user"
.clear
