- if current_user
  %li.user
    #user_box
      = gravatar_image current_user, 45, :id => "user_gravatar"
      .user_name
        = current_user.name
      .user_information
        = link_to "Profile", user_path(current_user.nickname)
        &bull;
        = link_to "Log out", logout_path, :id => "log-out"
- else
  %li.right
    = link_to "Log in with GitHub", login_path, :id => "login"

