-# TODO Error Messages

%p
  = f.label :name
  %br
  = f.text_field :name
  
%p
  = f.label :short_description
  %br
  = f.text_area :short_description
  
%p
  = f.label :description
  %br
  = f.text_area :description

- unless @puzzle.fingerprint.blank?
  %p
    %label Fingerprint
    %br
    = @puzzle.fingerprint
    
%p
  = f.label :file, "Solution File"
  %br
  = f.file_field :file
  
%hr

%h3 Input Files

= f.fields_for :attachments do |a|
  %p
    - if a.object.file_name.blank?
      = a.label :file, "File"
      = a.file_field :file
    - else
      = a.object.file_name

    = a.link_to_remove "Remove"

= f.link_to_add "Add an input file", :attachments

%hr

%p
  = f.submit
  = link_to "Cancel", admin_puzzles_path