- content_for :header_bottom do
  :javascript
    $(function(){
      $('form.new_submission').submit(function(){
        $('#logo').addClass('loading');
      });
    });

#puzzle
  %h1= link_to @puzzle.name, puzzle_path(@puzzle)

  = form_for @submission, :url => puzzle_submissions_path(@puzzle), 
    :html => {:multipart => true} do |f|
  
    .step.one
      .container
        %h3 1. Select your solution file
        .action
          = f.file_field :file
    .step.two
      .container
        %h3 2. Submit your solution
        .action
          = f.submit "Submit my solution"
          
  #action
    = link_to "< Back to puzzle", puzzle_path(@puzzle)