%h1= @user.name

= form_for @user, :url => admin_user_path(@user) do |f|

  %p
    = f.check_box :contestant
    = f.label :contestant
    %br
    = f.check_box :draft_access
    = f.label :draft_access
    %br
    = f.check_box :admin
    = f.label :admin, "Administrator"
  %p
    = f.submit "Save"
    