%h1= "Users (#{@users.total_entries})"

%table
  %tr
    %th Name
    %th Solved Submissions
    %th Attempted Submissions
    %th Member Since
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.submissions.correct.count
      %td= user.submissions.count
      %td= user.created_at
      
= will_paginate @users