#puzzles
  - if current_user.try(:admin)
    = button_to "New Puzzle", new_admin_puzzle_path, :method => :get,
      :id => "new-puzzle"

  - @puzzles.each do |puzzle|
    .puzzle
      / TODO: revert this file 
      - if true
        = image_tag "solved.png", :class => "solved"
      = link_to puzzle.name, puzzle_path(puzzle)

      .description
        .action
          = render :partial => 'action_button', :locals => { :puzzle => puzzle }
        = puzzle.short_description
        .clearfix
