- title @puzzle.name

- if current_user.try(:admin)
  - content_for :admin_nav do
    = button_to "Edit", edit_admin_puzzle_path(@puzzle), :method => :get

#puzzle
  %h1= @puzzle.name
  = render :partial => "info_bar"

  - unless @puzzle.notice.blank?
    #notice= md @puzzle.notice

  #description
    = md @puzzle.description
    %h2 Files
    #files
      = file_link "#{@puzzle.slug}.md", puzzle_path(@puzzle, :format => "md")
      - @puzzle.attachments.map do |file|
        = file_link file.file_name, file.public_path
