#puzzle
  %h1= @puzzle.name
  
  #puzzle-header
    - unless @puzzle.created_by.blank?
      %p
        %span.label Created by:
        - if @puzzle.created_by_url.blank?
          = @puzzle.created_by
        - else
          = link_to @puzzle.created_by, @puzzle.created_by_url
    - unless @puzzle.released_on.blank?
      %p
        %span.label Released on:
        = @puzzle.released_on.strftime("%B %e, %Y")
  
  #description
    = md @puzzle.description
    - if @puzzle.attachments.any?
      %h2 Files
      #files
        - @puzzle.attachments.map do |file|
          = link_to image_tag("icons/file_small.png") + file.file_name,
            file.public_path, :target => "_blank"
  #action
    - if @puzzle.answered_correctly? current_user
      %button.clean-gray.large{:'data-url' => puzzle_comments_path(@puzzle)}
        View Discussion
    - else
      %button.clean-orange.large{:'data-url' => new_puzzle_submission_path(@puzzle)}
        Submit my solution