- title @puzzle.name

- if current_user.try(:admin)
  - content_for :admin_nav do
    = button_to "Edit", edit_admin_puzzle_path(@puzzle), :method => :get

#puzzle
  %h1= @puzzle.name
  = render :partial => "info_bar"

  - unless @puzzle.notice.blank?
    #notice= md @puzzle.notice

  #description
    = md @puzzle.description
    - if @puzzle.attachments.any?
      %h2 Files
      #files
        - @puzzle.attachments.map do |file|
          = link_to image_tag("icons/file_small.png") + file.file_name,
            file.public_path,
            :target => "_blank"
