- title @puzzle.name

- if current_user.try(:admin)
  - content_for :admin_nav do
    = button_to "Edit", edit_admin_puzzle_path(@puzzle), :method => :get

#puzzle
  %h1= @puzzle.name
  = render :partial => "info_bar"

  - unless @puzzle.notice.blank?
    #notice= md @puzzle.notice

  #description
    = md @puzzle.description
    - if @puzzle.attachments.any?
      #files-header
        %h2 Files
        %button.clean-gray{:'data-url' => @puzzle.zip_file.public_path }
          Download All
      #files
        = file_link @puzzle.description_file
        - @puzzle.attachments.map do |attachment|
          = file_link attachment
